wandb
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
data/archiv/results/
results/fine-tuning/25_50e
results/fine-tuning/50_50e
results/fine-tuning/100_50e
results/fine-tuning/150_50e
results/fine-tuning/200_50e
results/fine-tuning/250_50e
results/fine-tuning/300_50e
results/fine-tuning/350_50e
results/fine-tuning/400_50e
results/transfer/25_50e
results/transfer/50_50e
results/transfer/100_50e
results/transfer/150_50e
results/transfer/200_50e
results/transfer/250_50e
results/transfer/300_50e
results/transfer/350_50e
results/transfer/400_50e
data/archiv/data-archiv/
data/archiv/data-archiv_300/