wandb
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
results/25_3e
results/25_10e
results/25_20e
results/50_3e
results/50_10e
results/50_20e
results/100_3e
results/100_10e
results/100_20e
results/150_3e
results/150_10e
results/150_20e
results/200_3e
results/200_10e
results/200_20e
results/250_3e
results/250_10e
results/250_20e
results/300_3e
results/300_10e
results/300_20e